body{
    background:rgb(34, 33, 33);
}

#SpaLogo{
    height:200px;
    position: relative;
    right:70px;
}

#navbarr{
    height:70px;
}

.TextOrIcon-Gold{
    color:rgb(158, 136, 8);
}

.TextOrIcon-Grey{
    color:rgb(196, 186, 186);
}

.nav-link{
    background-color: rgb(158, 136, 8);
}