body{
    background:rgb(34, 33, 33);

}

.carousel-inner > .item {
    height: 200px;
 }

 .icon-gold{
     color:goldenrod;
 }

 hr{
     color:goldenrod;
 }

 .bi-facebook{
  margin:200px;
 }

 .bi-twitter{
    margin:200px;
   }

.bi-instagram{
    margin:200px;
}

.Terms{
    color:goldenrod;
    text-decoration:none;
    position: relative;
    left:130px;
}
.Terms:hover{
    color:yellow;
    
}


.Privacy{
    color:goldenrod;
    text-decoration:none;
    position: relative;
    top:-2px;
    left:420px;
}
.Privacy:hover{
    color:yellow;
    
}


.Health{
    color:goldenrod;
    text-decoration:none;
    position: relative;
    top:-7px;
    left:700px;
}
.Health:hover{
    color:yellow;
    
}

#bottom-horizantal{
    position:relative;
    top:-10px;
}

#SpaLogo{
    height:200px;
    position: relative;
    right:70px;
}

#navbarr{
    height:70px;
}

.Masseuse{
    background:rgb(34, 33, 33);
}

.instagram{
    color:rgb(198, 19, 204)
}

#yuumi{
    height:100px;
}

#no404{
    position: relative;
    left: 250px;
    bottom:-150px;
}

#map{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

#MoreFreqID{
    position: relative;
    left: 520px;
    bottom:-20px;
}

#FreqCloseIcon{
    background-color:goldenrod;
}

#ButtonCloseFreq{
    background-color: #141414;
}























/* CustomScrollBar */

::-webkit-scrollbar{
    width:17px; 
}

::-webkit-scrollbar-track{ 
    /*background of scrollbar*/
    border: 3px solid #2e2e2c;  /*scrollbar border px,style,color*/
    background-color: #35322c;  /*background of range of scrollbar*/
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, rgb(143, 113, 16), rgb(94, 74, 30)); /*the draggable scrolling handle.*/
}


::-webkit-scrollbar-thumb:hover {
    background: rgb(66, 66, 66); 
}

::-webkit-scrollbar-button:single-button{ /*buttonbackground of scrollbar*/
    background-color: #202020;
    display: block;
    /* border-style: solid; */
    /* height: 13px;
    width: 16px; */
    background-size:10px;
    background-repeat: no-repeat;
}

/*UP BUTTONS*/
::-webkit-scrollbar-button:single-button:vertical:decrement{  /*üçgenin normal hali*/
  border-width: 5px 5px 0px 0px;
  /* border-color: transparent transparent #06b5f0 transparent; */
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(121, 255, 108)'><polygon points='50,00 0,50 100,50'/></svg>");
  background-position: center 4px;
  height: 16px;
  width: 16px;
}

::-webkit-scrollbar-button:single-button:vertical:decrement:hover{  /*Hover yapınca üçgen mavi olsun*/
    /* border-color: transparent transparent lime transparent; */
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(6, 222, 225)'><polygon points='50,00 0,50 100,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:vertical:decrement:active{  /*Üçgene basınca gri olsun olsun*/
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(128, 128, 128)'><polygon points='50,00 0,50 100,50'/></svg>");

}



/*DOWN BUTTONS*/
::-webkit-scrollbar-button:single-button:vertical:increment {  /*üçgenin normal hali*/
    border-width: 0px 0px 5px 5px;
    /* border-color: #06b8f3 transparent transparent transparent; */
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(121, 255, 108)'><polygon points='0,0 100,0 50,50'/></svg>");
    background-position: center 4px;
    height: 16px;
    width: 16px;
  }
  
::-webkit-scrollbar-button:vertical:single-button:increment:hover { /*Hover yapınca üçgen mavi olsun*/
    /* border-color: lime transparent transparent transparent; */
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(6, 222, 225)'><polygon points='0,0 100,0 50,50'/></svg>");
  }

::-webkit-scrollbar-button:single-button:vertical:increment:active{ /*Üçgene basınca gri olsun olsun*/
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(128, 128, 128)'><polygon points='0,0 100,0 50,50'/></svg>");
}


